<div class="content-wrapper">
<div class="update-application" id="update-application" style="transition: 0.8s;">


  

      

      <section class="padL35 content-header">
          <h1 class="marTB15 txt-orange">
              <div class="img_icon">
<span><i class="fa fa-angle-left"  mat-raised-button matTooltip="Back" (click)="abortUpdateAction()" aria-hidden="true"></i> Update Application Details</span>
          </div>
          </h1>
        </section>

        <section class="content">
            <div class="row">
              <div class="col-md-3">
                  <h4 class="txt-blue">Application Information</h4>
               <hr>
                </div>
              </div>

       

    <form  #applicationUpdateForm="ngForm" (ngSubmit)="saveUpdatedApplication(applicationUpdateForm)">


        <div class="row">

            <div class="col-lg-5">
              <div class="form-group">
                 <mat-form-field class="example-full-width">
                     <input [(ngModel)]="selectedApplication.applicationCode" required autocomplete="off" matInput name="applicationCode" maxlength="4"   id="applicationCode" placeholder="Application Code">
                     <label class="btn btn-info"  mat-raised-button matTooltip="A Unique Code of Max 4 characters!"><i class="fa fa-exclamation"></i></label>
                   </mat-form-field>
                 </div>
            </div>
             
            
            <div class="col-lg-5">
              <div class="form-group">
                 <mat-form-field class="example-full-width">
                     <input [(ngModel)]="selectedApplication.applicationName" required autocomplete="off" matInput name="applicationName"  id="applicationName" placeholder="Application Name">
                     <label class="btn btn-info"  mat-raised-button matTooltip="Only A-Z and - are allowed!"><i class="fa fa-exclamation"></i></label>
                   </mat-form-field>
                 </div>
            </div>
    
    <br>
    <div class="col-lg-5">
      <div class="form-group">
         <mat-form-field class="example-full-width">
             <input [(ngModel)]="selectedApplication.description" required autocomplete="off" matInput name="applicationDescription"   id="applicationDescription" placeholder="Application Description">
             <label class="btn btn-info"  mat-raised-button matTooltip="A Description with a Max of 255 characters!"><i class="fa fa-exclamation"></i></label>
           </mat-form-field>
         </div>
    </div>
        
    <div class="col-lg-5" >
      <div class="form-group">
         <mat-form-field [color]="'primary'" class="example-full-width " >
             <mat-select  [(ngModel)]="selectedApplication.enabled" placeholder="Application Status" required [(ngModel)]="applicationStatus" name="applicationStatus" id="applicationStatus"> 
               <mat-option value="enabled">Enabled</mat-option>
               <mat-option value="disabled">Disabled</mat-option>
             </mat-select>
           </mat-form-field>
         </div>
    </div>
        
          </div>
       





      <div class="row">
   
        <div class="col-md-5 logo-image">
          <div class="form-group">
              <h5>Application Logo </h5>
              <br>
            <label class="btn btn-default btn-approve" style="padding: 5px; color: white;">
    Upload<input type="file" name="applicationLogo" required
    style="display: none;" (change)="logoUpload($event.target.files)" >
    </label>
    <br>
            <!-- <h6 id="logoFileName">*No File Selected</h6> -->
            <img id="logoImage" src="{{ selectedApplication.logo }}" alt="">
          </div>
        </div>

        <div class="col-md-5 favicon-image">
          <div class="form-group ">
              <h5>Application Favicon  </h5>
              <br>
            <label class="btn btn-default btn-approve" style="padding: 5px; color: white;">
    Upload<input type="file" name="applicationFavicon" required
    style="display: none;" (change)="faviconUpload($event.target.files)" >
    </label>
    <br>
            <!-- <h6 id="faviconFileName">*No File Selected</h6> -->
            <img id="faviconImage" src="{{ selectedApplication.favicon }}" alt="">
          </div>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-submit" [disabled]="applicationUpdateForm.invalid" id="submitButton" type="submit">Submit</button>

      <button type="button" class="btn btn-primary btn-close" (click)="abortUpdateAction()">Cancel</button>
    </form>
  </section> 
</div>
</div>