 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper addFormSec">
    <!-- Content Header (Page header) -->
    <section class="padL35 content-header ">
      <h1 class="marTB15 txt-orange">
     <div class="img_icon">
     <span><i class="fa fa-angle-left" mat-raised-button matTooltip="Back" [routerLink]="['/rolemanagement']" aria-hidden="true"></i> Add New Role</span>
   </div>  </h1>
    </section> 
 
     <section class="content">




       
         <div class="row">

           <div class="col-md-4">
             <h4>Role Information</h4>
          <hr>
           </div>
           </div>



           <form class="new-role" class="roleForm" #roleSaveForm="ngForm" (ngSubmit)="saveRole(roleSaveForm)">
              <div class="row">
              <div class="col-md-5">
                  <div class="form-group">
                     <mat-form-field class="example-full-width">
                         <input required matInput placeholder="Role Name">

                       </mat-form-field>
                     </div>
                </div>

            
           
           
           <div class="col-md-5">
             <div class="form-group">
                <mat-form-field [color]="'primary'" class="example-full-width">
                    <mat-select placeholder="Application Category" required [(ngModel)]="applicationCategory" name="applicationCategory"> 
                      <mat-option *ngFor="let applicationCategory of listOfApplicationCategory" value="{{applicationCategory}}">{{applicationCategory}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
           </div>

           <div class="col-md-5">
              <div class="form-group">
                 <mat-form-field  class="example-full-width">
                     <textarea required matInput placeholder="Role Description"></textarea>

                   </mat-form-field>
                 </div>
            </div>
           
           <div class="col-md-5">
             <div class="form-group">
                <mat-form-field [color]="'primary'" class="example-full-width">
                    <mat-select placeholder="Activation Status" required [(ngModel)]="activationStatus" name="activationStatus">
                      <mat-option  value="active">Active</mat-option>
                      <mat-option  value="inactive">Inactive</mat-option>
                    </mat-select>
                  </mat-form-field>
                  </div>
                </div>
     
           
           
     
           </div>
          </form>
         

         <div class="row" *ngIf="applicationCategory !=='' ">
          <div class="col-md-12">
            <h4>Menu Access Details</h4>
            <hr>
          </div>
        </div> 


      <div>
           <mat-tab-group *ngIf= "applicationCategory == 'Flux-CDA Console'|| applicationCategory == 'Flux-RTP Console'">
              <mat-tab label="Console">
                  <div class="row">
                      <div class="col-md-12">
                      <div class="rolemenu-acces-tabs">
                          <div class="tabContent">
                            
                              <div class="marB30">
                                <label><b>Administration</b></label>
                                <div class="form-group">									
                                  <label class="checkbox-inline">
                                      <input type="checkbox" value="">User Management
                                    </label>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="">Role Management
                                    </label>
                                </div>
                              </div>
                              
                              <div class="marB30">
                                <label><b>Configurations</b></label>
                                <div class="form-group">									
                                  <label class="checkbox-inline">
                                      <input type="checkbox" value="">Archival
                                    </label>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="">Communication
                                    </label>
                                </div>
                              </div>
                              
                              <div class="marB30">
                                <label><b>Maintenance</b></label>
                                <div class="form-group">									
                                  <label class="checkbox-inline">
                                      <input type="checkbox" value="">Reason Code Maintenance
                                    </label>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="">Routing Code Maintenance
                                    </label>
                                </div>
                              </div>
                            </div>
                       </div>
                       </div>
                    </div>
              </mat-tab>
            </mat-tab-group>
      </div>
      <div>
         <mat-tab-group *ngIf= "applicationCategory == 'Flux-CDA Operations'|| applicationCategory == 'Flux-RTP Operations'">
            <mat-tab label="Operations">
                <div class="row">
                    <div class="col-md-12">
                    <div class="rolemenu-acces-tabs">
                      <div class="tabContent">
                        <div class="marB30">
                          <label><b>Dashboard</b></label>
                          <div class="form-group">									
                            <label class="checkbox-inline">
                                <input type="checkbox" value="">Transaction Monitor
                              </label>
                              <label class="checkbox-inline">
                                <input type="checkbox" value="">Liquidity Monitor
                              </label>
                              <label class="checkbox-inline">
                                <input type="checkbox" value="">Status Monitor
                              </label>
                          </div>
                        </div>
                        
                        <div class="marB30">
                          <label><b>Business Operations</b></label>
                          <div class="form-group">									
                            <label class="checkbox-inline">
                                <input type="checkbox" value="">SOD /EOD
                              </label>
                              <label class="checkbox-inline">
                                <input type="checkbox" value="">Archival
                              </label>
                          </div>
                        </div>
                        
                        <div class="marB30">
                          <label><b>Payment Operations</b></label>
                          <div class="form-group">									
                            <label class="checkbox-inline">
                                <input type="checkbox" value="">Create Payment
                              </label>
                              <label class="checkbox-inline">
                                <input type="checkbox" value="">Authorize/Reject Payment
                              </label>
                              <label class="checkbox-inline">
                                <input type="checkbox" value="">Modify Payment
                              </label>
                              <label class="checkbox-inline">
                                <input type="checkbox" value="">Delete Payment
                              </label>
                          </div>
                        </div>
                      </div>
                     </div>
                     </div>
                  </div>
            </mat-tab>
          </mat-tab-group>
    </div> 
    

         <div class="row text-center">
         <div class="col-sm-12">
            <div class="">
                 <button type="button" class="btn btn-default btn-submit">Add Role</button>
                 <button type="button" class="btn btn-default btn-close" routerLink="/rolemanagement"> Close</button>
             </div>
         </div>
       </div>
    
      
     </section><!-- /.content -->
  </div><!-- /.content-wrapper -->
 