
.container{
    border: 1px solid black;

}

    mat-progress-spinner{
      margin-left: 43em; 
      margin-top: 17em;
  }

.login-screen{
    position: absolute;
    top: 20%;
    left: 36%;
}
mat-progress-bar{
    position: absolute;
    top: 17.5%;
    left: 32%;
    width: 27.6em;           
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: red;
}
.login-page{
  
    padding-top: 3em;       
    padding-bottom: 3em;     
    padding-right: 2em;  
    padding-left: 2em;  
    position: absolute;
    top: 20%;
    left: 32%;
    /* margin-right: -50%; */
    background-color: transparent;
    box-shadow: 5px 5px 30px  grey;
    border: 0.2px solid whitesmoke;
    max-width: 30em;   
    
}

.title{
position: relative;
bottom: 15px;
font-family: 'Quicksand', sans-serif;

}
.main-title{
      
    font-size: 2em;   
}
.login-title {   
    font-weight: bold;  
}
.sub-title {
    font-weight: bold;  

}
.error-display{
    position: relative;
    top: 3em;
    color: red;
    width: 300px;
}


  .form-control-feedback.glyphicon.glyphicon-eye-close {
    background-color: #d14f4f;
  
  }
  .form-control-feedback.glyphicon.glyphicon-eye-open {
    background-color: #79c0f7;
 
  
  }
  
  .passwordPage-buttons{
   margin-top: 0.6em;
  }
  .submit-button{
    margin-top: 0.6em;
   }
.visual{
position: relative;
top: 1em;
}