
/* .adminLoginSec .loginCenter{
    width: 30em;
    height: 40em;
    border: 1px solid black;
    box-shadow: 0, 0, 10, 40;
    margin-top: 8em;
    margin-left: 10em;

    } */
    /* .adminLoginSec .loginCenter form{
        margin-left: 36em;
        margin-top: 2em;
    } */
    /* .adminLoginSec .loginCenter form .submit-button{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    } */
.container{
    border: 1px solid black;

}

    mat-progress-spinner{
      margin-left: 43em; 
      margin-top: 17em;
  }



/* img{ */
    /* position: relative; */
    /* top: -10px; */
    /* left: 32%; */
/* } */
.login-page{
    padding: 5em;
    padding-bottom: 6em;
    padding-right: 3em;
    padding-left: 3em;
    position: absolute;
    top: 20%;
    left: 32%;
    /* margin-right: -50%; */
    background-color: transparent;
    box-shadow: 5px 5px 30px  grey;
    border: 0.2px solid whitesmoke;


}
.submit-button{
    position: relative;
top: 1em;
}

.title{
position: relative;
bottom: 20px;
}

.title h4{
font-family: 'Times New Roman', Times, serif;
color: #ff8500;
}
.sub-title h5{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:#0d476d !important;	
}.error-display{
    position: relative;
    top: 3em;
    color: red;
    width: 300px;
}


  .form-control-feedback.glyphicon.glyphicon-eye-close {
    background-color: #d14f4f;
  
  }
  .form-control-feedback.glyphicon.glyphicon-eye-open {
    background-color: #79c0f7;
  
  
  }