<div class="content-wrapper">

  <div class="list-applications" id="list-applications" style="transition: 0.8s;">
 
      

      
        <section class="padL35 content-header">
            <h1 class="marTB15 txt-orange">
              <span><span class="evo-role"></span>Application Management</span>
            </h1>
            
          <div class="rightSecBtn adjust-plussymbol"> 
              <span  [routerLink]="['/createApplication']" mat-raised-button
              matTooltip="Add New Application"><span class="evo-role"></span><span class="plus-symbol">+</span></span>
           </div>
          </section> 

<br>
<br>
    
<section class="content" *ngIf = "areAnyApplicationsAvailable">
    <div class="row row-padding">
      <div class="col-md-10">
            <h4 class="txt-blue">List of Applications</h4>
            <br>
        </div>
      </div>


     


      <!--Table-->
      <div class="tablegrid animated row">
        <div class="col-md-10">
        	<div class="float-searchicon" (click) = "gridSearch=!gridSearch"><span tooltip="Search for particular column" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-search"></span> </span></div>
          <div class="slide-table">
              <div id="container-table">
                  <div id="content-table">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
             
              <th>Application Name</th>
              <th>Application Code</th>
              <th>Enabled</th>
            </tr>
            <tr class="grid-search" *ngIf = "gridSearch">
                
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                
                
                <td><span class="glyphicon glyphicon-search pull-right"></span></td>
              </tr> 
          </thead>
          <tbody>
            <tr *ngFor="let application of applications" (click)="selectApplication(application); viewSelectedApplication();">
            
              <td>{{ application.applicationName | uppercase}}</td>
              <td>{{ application.applicationCode | uppercase}}</td>
              <td>{{ application.enabled == true ? 'Enabled' : 'Disabled'}}</td>
            </tr>
          </tbody>
          <!--Table body-->

        </table>
      </div>
    </div>
  </div>
</div>
        <!--Table-->
      </div>
</section>
<section class="content" *ngIf="!areAnyApplicationsAvailable">
  <div class="row row-padding">
    <div class="col-md-10">
          <h4 class="txt-red" style="color:red;">No Applications Found!</h4>
          <br>
      </div>
    </div>
</section>

  </div>
</div>
