 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper addFormSec">
    <!-- Content Header (Page header) -->
    <section class="padL35 content-header ">
      <h1 class="marTB15 txt-orange">
     <div class="img_icon">
     <span><i class="fa fa-angle-left" mat-raised-button matTooltip="Back" [routerLink]="['/roleManagement']" aria-hidden="true"></i> Add New Role</span>
   </div>  </h1>
    </section> 
 
     <section class="content">




       
         <div class="row">

           <div class="col-md-4">
             <h4>Role Information</h4>
          <hr>
           </div>
           </div>



           <form [formGroup]="roleForm" (ngSubmit)="save()">
              <div class="row">
              <div class="col-md-5">
                  <div class="form-group">
                     <mat-form-field class="example-full-width">
                         <input required matInput placeholder="Role Name" formControlName="roleName" name="roleName">

                       </mat-form-field>
                     </div>
                </div>

            
           
           <div class="col-md-5">
             <div class="form-group">
                <mat-form-field [color]="'primary'" class="example-full-width">
                    <mat-select placeholder="Application Category" formControlName="applicationCode" (ngModelChange)="getMenuGroups(applicationCategory.value)" required  name="applicationCategory" #applicationCategory> 
          
                      <mat-option *ngFor="let applicationCategory of listOfApplicationCategory" value="{{applicationCategory}}">{{applicationCategory}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
           </div>




          <div class="col-md-5">
            <div class="form-group">
               <mat-form-field [color]="'primary'" class="example-full-width">
                   <mat-select placeholder="Activation Status" formControlName="activationStatus" required  name="activationStatus">
                     <mat-option  value="ACTIVE">Active</mat-option>
                     <mat-option  value="INACTIVE">Inactive</mat-option>
                   </mat-select>
                 </mat-form-field>
                 </div>
               </div>

           <div class="col-md-5">
              <div class="form-group">
                 <mat-form-field  class="example-full-width">

                     <textarea  matInput placeholder="Role Description" formControlName="description" name="description" ></textarea>

                   </mat-form-field>
                 </div>
            </div>
           </div>
        

         <div class="row" *ngIf="applicationCategorySelected">
          <div class="col-md-12">
            <h4>Menu Access Details</h4>
            <hr>
          </div>
        </div> 

      <div>
           <mat-tab-group *ngIf="applicationCategorySelected">
              <mat-tab label="Menus">
                  <div class="row">
                   <div class="col-md-12">
                    <div class="rolemenu-acces-tabs">
                     <div class="tabContent">
                      <div class="marB30">
                        <div class="form-group">									
                          <label class="checkbox-inline" *ngFor = "let menuGroup of listOfMenuGroups">
                            <label for=""class="menu-group-title txt-orange">{{menuGroup.title}}</label>
                            <div class="menu-items" *ngFor = "let menuItem of menuGroup.menuItems">
                                <mat-checkbox class="mat-pseudo-checkbox" (change)="addMenuItem(menuGroup, menuItem)" id="{{menuItem.title | lowercase}}" name="{{menuItem.title | lowercase }}" value="{{menuItem.title | lowercase}}" >{{menuItem.title}}</mat-checkbox>
                            </div>
                          </label>
                        </div>
                      </div>
                     </div>
                    </div>
                   </div>
                  </div>
              </mat-tab>
           </mat-tab-group>
      </div>
      
      <div>
         
    </div> 
    <div class="row text-center">
      <div class="col-md-12" style="margin-left: 2em;">
         <div class="">
              <button type="submit" [disabled] = "roleForm.invalid"class="btn btn-default btn-submit" >Add Role</button>
              <button type="button" class="btn btn-default btn-close"  (click)="abortSaveAction()"> Close</button>
          </div>
      </div>
    </div>
  </form>


   
    
      
     </section><!-- /.content -->
  </div><!-- /.content-wrapper -->
 