.example-form {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .marB30{
margin-top: 1em;
  }
  .menu-group-title{
color:#ff8500;
font-size: 15px;

  }
