<div class="content-wrapper home-sec">
  <section class="content">
    <div class="row">
      <div class="col-md-9 padR50">



        <div class="row">
          <section class="content-header home-header">
            <h1 class="txt-orange marT15">Application</h1>
          </section>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box maintananceicon1">
              <span class="info-box-icon bg-transparent">
                <span class="evo-application"></span>
              </span>
              <div class="info-box-content" [routerLink]="['/applicationManagement']">
                <span class="info-box-text">Application Management</span>
              </div>
            </div>
          </div>

        </div>






        <div class="row" *ngFor="let menuGroup of user.role.menuGroup; let i = index">
          <section class="content-header home-header">
            <h1 class="txt-orange marT15">
              {{menuGroup.title | titlecase}}
            </h1>
          </section>
          <div class="col-md-6 col-sm-6 col-xs-12" *ngFor="let menuItem of menuGroup.menuItems; let j = index">
            <a routerLink="/{{menuItem.menuItemCode}}">
              <div class="info-box maintananceicon1">
                <span class="info-box-icon bg-transparent">
                  <span [ngClass]="user.role.menuGroup[i].menuItems[j].icon"></span>
                </span>
                <div class="info-box-content">

                  <span class="info-box-text">{{menuItem.title}}</span>


                </div>
              </div>
            </a>
          </div>

          <div class="clearfix visible-sm-block"></div>
        </div>
      </div>
      <div class="col-md-3  marL15">


        <div class="row">
          <div class="col-md-12">
              <mat-accordion>
                  <mat-expansion-panel>
            <!-- <h4 class="  txt-blue"></h4> -->
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4 class="text-center txt-blue">Pending Actions <mat-icon></mat-icon> </h4>
                </mat-panel-title>
                <mat-panel-description>
                  
                  </mat-panel-description>
              </mat-expansion-panel-header>
            <mat-accordion *ngFor="let event of eventData">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>{{event?.wfEntity}}</p>
                  </mat-panel-title>
             
                </mat-expansion-panel-header>
                <h6>ACTION : {{event?.wfEntityAction}}</h6>
                <h6>{{getTimeOfRequest(event?.wfEventDate)}}</h6>
                <h6>
                  <a (click)="view(event?.wfEntity, event?.query)">View</a>
                </h6>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-expansion-panel>

          </mat-accordion>
          </div>
        </div>










































      </div>


    </div>
  </section>
</div>
