.info-box-content span{
    color: black;
}
.col-md-6:hover span{
    color: white;
}
.force-overflow .request-time{
    margin: 0px;
    margin-top: -5px;
}
/* .force-overflow .request-time  small{
    font-size: 10px;
} */
