<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper home-sec">
  <section class="content">
    <div class="row">
      <div class="col-md-9 padR50">



        <div class="row">
          <section class="content-header home-header">
            <h1 class="txt-orange marT15">Application</h1>
          </section>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box maintananceicon1">
              <span class="info-box-icon bg-transparent">
               <span class="evo-role"></span></span>
              <div class="info-box-content" [routerLink]="['/applicationManagement']">
                <span class="info-box-text">Application Management</span>
              </div>
            </div>
          </div>

          <!-- fix for small devices only -->
          <div class="clearfix visible-sm-block"></div>
        </div>
        <div class="row">
          <section class="content-header home-header">
            <h1 class="txt-orange marT15">
           Administration
         </h1>
          </section>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box maintananceicon1">
              <span class="info-box-icon bg-transparent">
               <span class="evo-role"></span></span>
              <div class="info-box-content" [routerLink]="['/roleManagement']">
                <span class="info-box-text">Role Management</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-transparent">
                <span class="evo-newusers"></span></span>
              <div class="info-box-content" [routerLink]="['/userManagement']">
                <span class="info-box-text">User Management</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-transparent">
                  <span class="evo-newusers"></span></span>
                <div class="info-box-content" [routerLink]="['/entityManagement']">
                  <span class="info-box-text">Entity Management</span>
                </div>
              </div>
            </div>
          <!-- fix for small devices only -->
          <div class="clearfix visible-sm-block"></div>
        </div>
        <!-- /.row -->

        <hr>
        <div class="row">
          <section class="content-header home-header">
            <h1 class="txt-orange">
           Maintenance
         </h1>
          </section>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box maintananceicon1">
              <span class="info-box-icon bg-transparent">
            <!--    <i class="fa fa-question" aria-hidden="true"></i> -->
            <span class="evo-reasoncode"></span></span>
              <div class="info-box-content" ui-sref="reasoncode">
                <span class="info-box-text">Reason Code</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-transparent">
                <span class="evo-routingcode"></span></span>
              <div class="info-box-content" ui-sref="routingcode">
                <span class="info-box-text">Routing Code</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-transparent">
                <span class="evo-routingcode"></span></span>
              <div class="info-box-content" ui-sref="systemconfiguration">
                <span class="info-box-text">System Configurations</span>
              </div>
            </div>
          </div>

          <!-- fix for small devices only -->
          <div class="clearfix visible-sm-block"></div>
        </div>
        <!-- /.row -->

        <hr>



        <div class="row">
          <section class="content-header home-header">
            <h1 class="txt-orange">
                Configurations
              </h1>
          </section>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box maintananceicon1">
              <span class="info-box-icon bg-transparent">  <span class="archve evo-Archival"></span>
              </span>
              <div class="info-box-content" ui-sref="archival">
                <span class="info-box-text">Archival</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-transparent">  <span class="comm evo-notification2"></span>
              </span>
              <div class="info-box-content" ui-sref="communication">
                <span class="info-box-text">Communication</span>
              </div>
            </div>
          </div>
          <div class="clearfix visible-sm-block"></div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col -->

      <div class="col-md-3 bg-grey marL15">


        <div class="row">
          <div class="col-md-12">
            <h4 class="text-center marT15 txt-blue">Pending Actions</h4>
            <div class="scrollbar" id="style-1" custom-scroll="{ 'theme': dark }">
              <div class="force-overflow">
                <div class="pendingActionBlock">
                  <div class="pull-left">
                    User Role acceptance
                  </div>
                  <div class="pull-right">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="text-center"><small>Requested username 1 hour ago</small></div>


                <div class="pendingActionBlock">
                  <div class="pull-left">
                    User Role acceptance
                  </div>
                  <div class="pull-right">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="text-center"><small>Requested username 1 hour ago</small></div>

                <div class="pendingActionBlock">
                  <div class="pull-left">
                    User Role acceptance
                  </div>
                  <div class="pull-right">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="text-center"><small>Requested username 1 hour ago</small></div>

                <div class="pendingActionBlock">
                  <div class="pull-left">
                    User Role acceptance
                  </div>
                  <div class="pull-right">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="text-center"><small>Requested username 1 hour ago</small></div>

                <div class="pendingActionBlock">
                  <div class="pull-left">
                    User Role acceptance
                  </div>
                  <div class="pull-right">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="text-center"><small>Requested username 1 hour ago</small></div>
                <div class="pendingActionBlock">
                  <div class="pull-left">
                    User Role acceptance
                  </div>
                  <div class="pull-right">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="text-center"><small>Requested username 1 hour ago</small></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row notficationBlock">
          <div class="col-md-12">
            <h4 class="text-center  marT20 txt-blue">Notifications</h4>
            <div class="scrollbar" id="style-2" custom-scroll="{ 'theme': dark }">
              <div class="force-overflow">
                <div class="notificationSec box box-primary no-margin-top">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                               <img src="assets/images/user-icon.png" class="user-image" alt="User Image">
                           </a>
                    </div>
                    <div class="media-body">
                      <div class="notificationClosebtn pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>
                      <p>X user Transaction Limit Crossed !Some more transaction notifications comes here</p>
                      <small class="pull-right"><i class="fa fa-clock-o"></i> 1 hours ago</small>
                    </div>
                  </div>
                </div>

                <div class="notificationSec box box-primary">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                               <img src="assets/images/user-icon.png" class="user-image" alt="User Image">
                           </a>
                    </div>
                    <div class="media-body">
                      <div class="notificationClosebtn pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>
                      <p>X user Transaction Limit Crossed</p>
                      <small class="pull-right"><i class="fa fa-clock-o"></i> 2 hours ago</small>
                    </div>
                  </div>
                </div>

                <div class="notificationSec box box-primary">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                               <img src="assets/images/user-icon.png" class="user-image" alt="User Image">
                           </a>
                    </div>
                    <div class="media-body">
                      <div class="notificationClosebtn pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>
                      <p>X user Transaction Limit Crossed</p>
                      <small class="pull-right"><i class="fa fa-clock-o"></i> 2 hours ago</small>
                    </div>
                  </div>
                </div>

                <div class="notificationSec box box-primary">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                               <img src="assets/images/user-icon.png" class="user-image" alt="User Image">
                           </a>
                    </div>
                    <div class="media-body">
                      <div class="notificationClosebtn pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>
                      <p>X user Transaction Limit Crossed</p>
                      <small class="pull-right"><i class="fa fa-clock-o"></i> 15 min ago</small>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>



        <!--  <div class="box box-primary">
               <div class="box-header with-border">
                 <h3 class="box-title text-uppercase">Notifications</h3>
                 <div class="box-tools pull-right">
                   <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                 </div>
               </div>/.box-header
               <div class="box-body">
                 <ul class="products-list product-list-in-box">
                   <li class="item">
                     <div class="product-img">
                       <img src="images/user-icon.png" class="user-image" alt="User Image">
                     </div>
                     <div class="product-info">
                       <a href="javascript::;" class="product-title">Samsung TV <span class="label label-warning pull-right">$1800</span></a>
                       <span class="product-description">
                        X user Transcation Limit Crossed !
                       </span>
                     </div>
                   </li>/.item
                   <li class="item">
                     <div class="product-img">
                      <img src="images/user-icon.png" class="user-image" alt="User Image">
                     </div>
                     <div class="product-info">
                       <span class="product-description">
                         X user Transcation Limit Crossed ! .Some more transctions notifications comes here
                       </span>
                       <small class="pull-right"><i class="fa fa-clock-o"></i> 2 hours</small>
                     </div>
                   </li>/.item
                   <li class="item">
                     <div class="product-img">
                      <img src="images/user-icon.png" class="user-image" alt="User Image">
                     </div>
                     <div class="product-info">
                       <span class="product-description">
                         X user Transcation Limit Crossed !
                       </span>
                     </div>
                   </li>/.item
                 </ul>
               </div>/.box-body
               <div class="box-footer text-center">
                 <a href="javascript::;" class="uppercase">View All Products</a>
               </div> -->
        <!-- /.box-footer
             </div> -->
        <!-- /.box -->

      </div>
      <!-- col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->