<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper home-sec">
  <section class="content">
    <div class="row">
      <div class="col-md-9 padR50">



        <div class="row">
          <section class="content-header home-header">
            <h1 class="txt-orange marT15">Application</h1>
          </section>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box maintananceicon1">
              <span class="info-box-icon bg-transparent">
                <span class="evo-role"></span>
              </span>
              <div class="info-box-content" [routerLink]="['/applicationManagement']">
                <span class="info-box-text">Application Management</span>
              </div>
            </div>
          </div>

          <!-- fix for small devices only -->
          <div class="clearfix visible-sm-block"></div>
        </div>


        <!-- <div class="side-menu-group">
          <div class="menu-group" *ngFor="let menuGroup of user.role.menuGroup">
            <li class="header">{{menuGroup.title | titlecase}}</li>
            <div class="menuItem" *ngFor="let menuItem of menuGroup.menuItems">
              <li class="menuItemRoute">
                <a routerLink="{{menuItem.menuItemCode}}">
                  <i class="evo-role"></i>
                  <span>{{menuItem.title}}</span>
                </a>
              </li>
  
            </div>
            <hr>
          </div>
        </div> -->




        <div class="row" *ngFor="let menuGroup of user.role.menuGroup; let i = index">
          <section class="content-header home-header">
            <h1 class="txt-orange marT15">
              {{menuGroup.title | titlecase}}
            </h1>
          </section>
          <div class="col-md-6 col-sm-6 col-xs-12" *ngFor="let menuItem of menuGroup.menuItems; let j = index">
            <a routerLink="/{{menuItem.menuItemCode}}">
              <div class="info-box maintananceicon1">
                <span class="info-box-icon bg-transparent">
                  <span [ngClass]="user.role.menuGroup[i].menuItems[j].icon"></span>
                </span>
                <div class="info-box-content">

                  <span class="info-box-text">{{menuItem.title}}</span>


                </div>
              </div>
            </a>
          </div>

          <!-- fix for small devices only -->
          <div class="clearfix visible-sm-block"></div>
        </div>
      </div>
      <!-- /.col -->

      
      <!-- col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
