

<section class="">
  <div class="text-center">
      <div class="success-message" *ngIf = "messageType === 'success'">
          <i class="fa fa-thumbs-up"></i>
          <h4>{{statusMessage}}</h4>
          <button type="button" (click)="onNoClick(true)" class="btn btn-default btn-close">Close</button>
      </div>
      <div class="success-message" *ngIf = "messageType === 'error'">
          <i class="fa fa-thumbs-down"></i>
          <h4 *ngIf="serverError">Server Error, Try Again!</h4>
          <h4 *ngIf="!serverError">{{statusMessage}}</h4>
          <button type="button" (click)="onNoClick(true)" class="btn btn-default btn-close">Ok</button>
      </div>
      <div class="success-message" *ngIf = "messageType === 'alert'">
          <i class="fa fa-exclamation-triangle"></i>
          <h4>{{statusMessage}}</h4>
          <button type="button" (click)="onNoClick(true)" class="btn btn-default btn-close">Confirm</button>
          <button type="button" (click)="onNoClick(false)" class="btn btn-default btn-close">Cancel</button>

      </div>
  </div>
  </section>

