

<section class="">
  <div class="text-center">
      <div class="success-message" *ngIf = "messageType === 'success'">
        <span class="successIcon"><i class="fa fa-check" aria-hidden="true"></i></span>
        <h4>{{statusMessage}}</h4>
          <button type="button" (click)="onNoClick(true)" class="btn btn-default btn-close">Close</button>
      </div>
      <div class="success-message" *ngIf = "messageType === 'error'">
        <span class="failureIcon"><i class="fa fa-times" aria-hidden="true"></i></span>
        <h4 *ngIf="serverError">Server Error, Try Again!</h4>
          <h4 *ngIf="!serverError">{{statusMessage}}</h4>
          <button type="button" (click)="onNoClick(true)" class="btn btn-default btn-close">Ok</button>
      </div>
      <div class="success-message" *ngIf = "messageType === 'alert'">
        <span class="alertIcon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>        </span>
          <h4>{{statusMessage}}</h4>
          <button type="button" (click)="onNoClick(true)" class="btn btn-default btn-close">Confirm</button>
          <button type="button" (click)="onNoClick(false)" class="btn btn-default btn-close">Cancel</button>

      </div>
  </div>
  </section>

  <!-- <div class="popUpSec">
    <div class="row text-center" *ngIf="(data.msgType==='SUCCESS') ; else otherTemp">
    <div class="col-12">
    <span class="successIcon"><i class="fa fa-check" aria-hidden="true"></i></span>
    <p>{{data.successOrfailMsg}}</p>
    <p>{{data.msg}}</p>
    <button class="btn btn-default btn-ok" (click)="onNoClick('OK')"> OK</button>
    <button class="btn btn-default btn-close"(click)="onNoClick('CLOSE')"> Close</button>
    </div>
    </div>
    
    <ng-template #otherTemp>
    <div class="row text-center" >
    <div class="col-12">
    <span class="failureIcon"><i class="fa fa-times" aria-hidden="true"></i></span>
    <p>{{data.successOrfailMsg}}</p>
    <p>{{data.msg}}</p>
    <button class="btn btn-default btn-ok" (click)="onNoClick('OK')"> OK</button>
    </div>
    </div>
    </ng-template>
    
    </div> -->