.dialog{
width: 260px;
padding: 10px;
padding-bottom: -10px;
max-height: 100px;
margin-left: -10px;
}
.fa-thumbs-up, .fa-exclamation-triangle{
    font-size: 50px;
    color: green;
}
.fa-exclamation-triangle{
    font-size: 50px;
    color: red;
}
 .fa-thumbs-down{
    font-size: 50px;
    position: relative;
    /* left:72px; */
    color: red;
}
.btn{
    margin-top: 40px;
}
h5{
    margin-top: 50px;
    font-weight: bold;
    color:#ff8500;
}

h4{
    padding-top:2rem; 
}