 <div class="content-wrapper">
  <section class="padL35 content-header ">
    <h1 class="marTB15 txt-orange">
      <span><span class="evo-newusers"></span>User Management</span>
    </h1>
    
  <div class="rightSecBtn"> 
      <span [routerLink]="['/adduser']" mat-raised-button
      matTooltip="Add New User"><span class="evo-user3"></span><span class="plus-symbol">+</span> </span>
   </div>
  </section> 

   <section class="content">
     <div class="row row-padding">
       <div class="col-md-12">
         <h4 class="txt-blue">Filters</h4>
          <form>
          <div class="row">
            <div class="col-md-3">              
               <mat-form-field>
                <mat-select placeholder="User Login Status">
                  <mat-option *ngFor="let loginval of logins" [value]="loginval.value">
                    {{ loginval.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>               
            </div>
            
           

            <div class="col-md-3">              
               <mat-form-field>
                <mat-select placeholder="Activation Status">
                  <mat-option *ngFor="let activestate of activationstatus" [value]="activestate.value">
                    {{ activestate.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>              
            </div>
            
            <div class="col-md-3">
              <mat-form-field>
                <mat-select placeholder="Processing Status">
                  <mat-option *ngFor="let processtate of processingstatus" [value]="processtate.value">
                    {{ processtate.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>             
            </div>
            
             <div class="col-md-3 filterView">
              <div class="checkbox">
               <label><input type="checkbox" value="">View All</label>
           </div>
            </div>
          </div>   			
       </form> 
       </div>
     </div>
     
     <div class="row">
       <div class="col-md-12">
         <div class="gridHeadSec">
           <h4>User Details</h4> 
           <h5>Showing 1 to 10 out of 10</h5>
           
           <div class="pull-right">						
           <h5 class="txt-black">Results per Page</h5>							
           <select name="pageSize" ng-model="pageSize" class="form-control" ng-options="pageCount for pageCount in pageValue">
              </select>
         </div>
         </div>
         
         <div class="tablegrid animated">
           <div class="float-searchicon" (click) = "gridsearch=!gridsearch"><span tooltip="Search for particular column" tooltip-trigger="mouseenter" tooltip-placement="bottom"><span class="glyphicon glyphicon-search"></span> </span></div>
           <div class="slide-table">
              <div class="float-buttons"><button id="slideleft" ng-click="slideright()"><span><</span></button></div>
                 <div id="container-table">
                 <div id="content-table">
                     <table class="table table-bordered table-striped ">
                   <thead>
                       <tr>
                              <th *ngFor="let header of userTableHeader">{{header}}</th>									       
                       <!-- <th ng-repeat="header in usertableheader">{{getSplitWord(header)}}<span>{{item1.join(" ")}}</span><br><span>{{item2.join(" ")}}</span></th> -->
                       </tr>
                       
                        <tr class="grid-search" *ngIf="gridsearch">
                     <td><input type="text"></td>
                     <td><input type="text"></td>
                     <td><input type="text"></td>
                     <td><input type="text"></td>
                     <td><input type="text"></td>
                     <td><input type="text"></td>
                     <td><input type="text"></td>
                     <td><input type="text"></td>
                     
                     <td><span class="glyphicon glyphicon-search pull-right"></span></td>
                   </tr> 
                     </thead>
                     <tbody>
                       <tr [routerLink]="['/viewuser']">
                         <td>TEST0001</td>
                         <td>Ahmed</td>
                         <td>Maker</td>
                         <td>Enabled</td>
                         <td>Active</td>
                         <td>Authorized</td>
                         <td>User Authorized</td>
                         <td>2017-06-18 23:14:45</td>
                        
                         <td></td>
                       </tr>
                       
                       <tr ui-sref="viewuser">
                         <td>TEST0002</td>
                         <td>Akil</td>
                         <td>Maker</td>
                         <td>Enabled</td>
                         <td>Active</td>
                         <td>Authorized</td>
                         <td>User Authorized</td>
                         <td>2017-06-18 23:14:45</td>
                         
                         <td></td>
                       </tr>
                       
                        <tr ui-sref="viewuser">
                         <td>TEST0003</td>
                         <td>Azhar</td>
                         <td>Maker</td>
                         <td>Enabled</td>
                         <td>Active</td>
                         <td>Authorized</td>
                         <td>User Authorized</td>
                         <td>2017-06-18 23:14:45</td>
                       
                         <td></td>
                       </tr>
                       
                        <tr ui-sref="viewuser">
                         <td>TEST0011</td>
                         <td>Barakah</td>
                         <td>Checker</td>
                         <td>Enabled</td>
                         <td>Active</td>
                         <td>Authorized</td>
                         <td>User Authorized</td>
                         <td>2017-06-18 23:14:45</td>
                        
                         <td></td>
                       </tr>
                       
                        <tr ui-sref="viewuser">
                         <td>TEST0021</td>
                         <td>Faisal</td>
                         <td>Checker</td>
                         <td>Enabled</td>
                         <td>Active</td>
                         <td>Authorized</td>
                         <td>User Authorized</td>
                         <td>2017-06-18 23:14:45</td>
                         
                         <td></td>
                       </tr>
                       
                        <tr ui-sref="viewuser">
                         <td>TEST0005</td>
                         <td>Faruq</td>
                         <td>Maker</td>
                         <td>Enabled</td>
                         <td>Active</td>
                         <td>Authorized</td>
                         <td>User Authorized</td>
                         <td>2017-06-18 23:14:45</td>
                         
                         <td></td>
                       </tr>
                       
                        <tr ui-sref="viewuser">
                         <td>TEST0010</td>
                         <td>Ghazi</td>
                         <td>Maker</td>
                         <td>Enabled</td>
                         <td>Active</td>
                         <td>Authorized</td>
                         <td>User Authorized</td>
                         <td>2017-06-18 23:14:45</td>
                        
                         <td></td>
                       </tr>
                       
                        <tr ui-sref="viewuser">
                         <td>TEST0031</td>
                         <td>Hashim</td>
                         <td>Maker</td>
                         <td>Enabled</td>
                         <td>Active</td>
                         <td>Authorized</td>
                         <td>User Authorized</td>
                         <td>2017-06-18 23:14:45</td>
                         
                         <td></td>
                       </tr>
                       
                        <tr ui-sref="viewuser">
                         <td>TEST0034</td>
                         <td>Ibrahim</td>
                         <td>Admin OP</td>
                         <td>Enabled</td>
                         <td>Active</td>
                         <td>Authorized</td>
                         <td>User Authorized</td>
                         <td>2017-06-18 23:14:45</td>
                         
                         <td></td>
                       </tr>
                                  <tr ui-sref="viewuser">
                         <td>TEST0041</td>
                         <td>Jamal</td>
                         <td>Admin OP</td>
                         <td>Enabled</td>
                         <td>Active</td>
                         <td>Authorized</td>
                         <td>User Authorized</td>
                         <td>2017-06-18 23:14:45</td>
                         
                         <td></td>
                       </tr>
                     </tbody>
                 </table>
               </div>
             </div>
             <div class="float-buttons">   <button id="slideright" ng-click="slideleft()"><span>></span></button></div>
             </div>
           </div>
         <div class="pull-right marTB2 paginationSec">			
         <button class="btn btn-default "><i class="fa fa-angle-double-left" aria-hidden="true"></i> Prev</button>
             <input type="text" class="text-center paginationInput" style="width:30px;" value="1"> / 1 
           <button class="btn btn-default " >Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
         </div>
       </div>
     </div>
   </section><!-- /.content -->
</div><!-- /.content-wrapper -->
